#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  background-color: #242424;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.js:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}
.logo.esl:hover {
  filter: drop-shadow(0 0 2em #7986cbaa);
}
.logo.husky:hover {
  filter: drop-shadow(0 0 2em #d99e82aa);
}
.logo.bootstrap:hover {
  filter: drop-shadow(0 0 2em #7952b3aa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
